/* Forms */

form label {
    display: block;
    margin: 0 0 1.5rem 0;
}

form label :is(input, select) {
    color: inherit;
    width: 100%;
}

.login-form:is(.stage-1, .stage-2) :is(label, button) {
    display: none;
}

    .login-form:is(.stage-1) label[for=nationality] {
        display: block;
    }

    .login-form:is(.stage-2) :is(label, button) {
        display: block;
    }

.signup-form:is(.stage-1, .stage-2) :is(label, button) {
    display: none;
}

    .signup-form.stage-1 .column-container > div {
        flex-basis: unset;
    }

    .signup-form:is(.stage-1) label[for=nationality] {
        display: block;
    }

    .signup-form:is(.stage-2) :is(label, button) {
        display: block;
    }
    
.form-container {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 3px 5px rgba(0,0,0,0.1);
}

#nextBtn {
    width: 100%;
    padding: 1rem;
    border: 0;
    border-radius: 0;
}

/* Tables */
table {
    background-color: white;
    border: 3px solid white;
    text-align: left;
}

th, td {
    padding: .5rem .5rem .5rem .5rem;
}

tr:nth-child(2n + 1) {
    background-color: var(--secondary-color);
}

/* Buttons */

.btn {
    border: none;
    text-decoration: none;
    display: block;
    padding: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    text-align: left;
}

.btn:hover {
    opacity: 0.8;
}

.btn:disabled {
    opacity: 0.2;
    cursor: default;
}

.btn-accent {
    color: white;
    background-color: black;
}

.btn-success {
    color: white;
    background-color: var(--success);
}

.btn-failure {
    color: white;
    background-color: var(--failure);
}

/* Default column container */

.column-container {
    display: flex;
}

.column-container.align-center {
    align-items: center;
}

.column-container > :is(div, label, button) {
    flex-basis: 100%;
}

.column-container > div {
    padding-inline: .5rem;
}

/* Page styles */

.full-page {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container {
    width: clamp(22rem, 70%, 1500px);
    margin-inline: auto;
}

/* Navigation */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
    padding: 0 2rem;
}

nav > a {
    padding: 1.5rem 1rem;
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: black;
    color: white;
}

/* Titles */

.page-title {
    margin: 2rem 0;
}

/* Notification */

.notification {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    width: clamp(300px, 25%, 500px);
    color: white;
    text-align: center;
    box-shadow: 5px 5px 3px 3px rgba(0,0,0,0.2);
    transition: opacity 2s, top 1s;
    transition-timing-function: cubic-bezier(0,.88,.14,.94);
}

.notification.success {
    background-color: #26b050;
}

.notification.failure {
    background-color: #b32121;
}

.notification a {
    color: #85c7f2;
}

#closeNotification {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    cursor: pointer;
}

/* Admin Page */
.admin-panel {
    position: relative;
    display: block;
    background-color: var(--secondary-color);
    padding: 2rem;
    margin-bottom: 2rem;
}

.election-list {
    margin-bottom: 1rem;
}

.election-list table {
    width: 100%;
}

.candidate-invite-table {
    margin: 1rem 0;
    width: 100%;
}

/* Election Invites */

.invite-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1rem solid var(--secondary-color);
}

.invite-container p {
    grid-column: span 2;
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: white;
}

.invite-container button {
    grid-column: span 3;
    padding: 1rem;
}

.invite-container button span {
    height: 3rem;
}